.tubes-canvas {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    touch-action: none;
}

