.chat-page-container {
    width: 100%;
    height: 100vh;
    display: flex;
    background: hsl(var(--background));
    color: hsl(var(--foreground));
    position: relative;
    z-index: 1;
}

